@import '../../theme/vars';
@import '../../theme/mixins';

.root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zi-nav;

  overflow-y: scroll;

  box-sizing: border-box;
  width: $nav-width;
  height: 100vh;
  padding: 0;

  background: darken($syntax-bg, 2);
  box-shadow: 0 1px 5px $default-shadow-color;

  will-change: transform;

  @media (max-width: $tablet) {
    transition: transform .15s ease-out;
    transform: translateX(-$nav-width);

    will-change: transform;
  }
}

.rootIsShown {
  @extend .root;
  @media (max-width: $tablet) {
    transition: transform .1s ease-out;
    transform: translateX(0);
  }
}

.shadow {
  position: absolute;
  z-index: $zi-nav - 1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  transition: opacity .15s ease-out;
  pointer-events: none;

  opacity: 0;
  background: rgba($mono-1, .8);

  will-change: opacity;
}

.shadowIsShown {
  @extend .shadow;
  @media (max-width: $tablet) {
    transition: opacity .1s ease-out;
    pointer-events: all;

    opacity: 1;
  }
}

.toggleBtn {
  position: fixed;
  z-index: $zi-nav - 1;
  top: 0;
  left: 0;

  visibility: hidden;

  height: $mobile-nav-height;

  pointer-events: none;

  @include icon-link($mobile-nav-height);

  @media (max-width: $tablet) {
    visibility: visible;

    pointer-events: all;
  }
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  min-height: 100vh;

  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: $nav-width;
  padding: 2rem 0;

  text-align: center;

  color: $syntax-bg;
  background: $syntax-accent;

  align-items: center;
  justify-content: center;
}

.logoIcon {
  height: 3rem;

  path {
    fill: $syntax-bg;
  }
}

.logoTitle {
  margin: 1rem 0 0;

  text-transform: uppercase;
}

.logoDescription {
  font-size: .8rem;
  font-weight: 600;

  max-width: 8rem;
  margin: .4rem auto 0;
}

.navMain {
  width: 100%;
  margin: 0 0 3rem;
  padding: 0;
}

.item {
  display: flex;

  height: 3.5rem;

  transition: background .3s ease, color .3s ease;

  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: $syntax-accent;
    background: darken($syntax-bg, 7);

    @extend .item;
  }

  @media (max-width: $mobile-s) {
    height: 3rem;
  }
}

.itemActive {
  color: $syntax-accent;
  background: darken($syntax-bg, 7);

  @extend .item;
}

.itemLogout {
  margin: 1.5rem 2rem 0;

  border-top: 1px $mono-3 dashed;

  @extend .item;
  @include dark-link($syntax-accent, 10);

  &:hover {
    background: transparent;
  }
}

.footer {
  width: 100%;
  width: $nav-width;
}

.social {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 1rem;
  padding: 0 2rem;

  align-items: center;
}

.socialLink {
  display: flex;

  width: 50%;
  height: 1rem;

  align-items: center;
  justify-content: center;

  svg {
    width: 1.2rem;
  }
}

.copyright {
  font-size: .8rem;
  font-weight: 600;

  display: flex;

  height: 4rem;

  text-transform: uppercase;

  color: darken($mono-3, 4);

  justify-content: center;
  align-items: center;
}

.copyrightIcon {
  font-weight: 800;
}

.navMobile {
  position: absolute;
  z-index: $zi-editor - 1;

  display: none;

  box-sizing: border-box;
  width: 100vw;
  height: $mobile-nav-height;

  box-shadow: 1px 0 5px $default-shadow-color;
  background: $syntax-bg-alternate;

  @media (max-width: $tablet) {
    display: block;
  }
}

.navMobileLogo {
  font-weight: 700;

  text-transform: uppercase;

  color: $syntax-accent;

  @include icon-link($mobile-nav-height);
  align-items: center;
  justify-content: center;

  svg {
    path {
      stroke: $syntax-accent;
      stroke-width: 1px;
    }
  }
}
