@import '../../theme/vars';
@import '../../theme/mixins';

.root {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 100%;

  align-items: center;
  justify-content: center;
}

.header {
  margin-top: 0;
}

.avatar {
  position: relative;

  overflow: hidden;

  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;

  border-radius: 50%;
}

.img {
  position: absolute;
  right: 0;
}

.blurb {
  max-width: 25rem;

  text-align: center;
}
