@import '../../theme/vars';

.wrapper {
  position: absolute;
  bottom: 0;

  overflow-y: scroll;

  width: 100%;
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;

  transform: translateZ(0);

  @media (max-width: $tablet) {
    margin-top: auto;
  }
}

.root {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 0 1rem;

  align-items: center;
  justify-content: flex-start;
}



.avatar {
  position: relative;

  overflow: hidden;

  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
  // opacity: .7;

  border-radius: 50%;
}

.img {
  position: absolute;
  right: 0;
}

.blurb {
  font-size: 1rem;

  max-width: 25rem;

  text-align: center;
}
