@import '../../theme/vars';
@import '../../theme/mixins';

.root {
  width: 100%;
  padding: 2rem 1rem;
}

.post {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 1rem;

  text-align: center;

  &:first-child {
    padding-top: 0;
  }
}

.title {
  text-transform: uppercase;

  color: $mono-1;
}

.description {
  text-transform: uppercase;

  color: $mono-2;
}

.more {
  max-width: 5rem;
  height: 2rem;
  margin: 1.8rem auto 0;

  @include button($syntax-accent);
  justify-content: center;
}
