$posts-list-width: 15rem;
$half-posts-list-width: $posts-list-width / 2;

@mixin admin-bar {
  align-items: center;
  background: $syntax-bg-alternate;
  display: flex;
  width: calc(100vw - #{$nav-width});
}

.editor {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: calc(100vw - #{$nav-width});
}

.editor-top-bar {
  @include admin-bar;
  border-bottom: 1px lighten($mono-3, 20) solid;
  flex: 0 0 3.5rem;
  justify-content: center;
  position: relative;

  &__button {
    @include icon-link(3.5rem);
    position: absolute;

    &:first-child {
      left: 0;
    }

    &--show-posts {
      @extend .editor-top-bar__button;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &__info {
    text-align: center;

    &__title {
      width: 40vw;
      overflow: hidden;
      text-transform: uppercase;

      >* {
        display: block;
        height: 1.3rem;
        line-height: 1.6rem;
      }
    }

    &__stamps {
      color: $mono-2;
      font-size: .7rem;
      font-weight: 600;
      line-height: .7rem;
      text-transform: lowercase;
    }
  }
}

.editor-bottom-bar {
  @include admin-bar;

  border-top: 1px lighten($mono-3, 20) solid;
  display: none;
  flex: 0 0 4rem;
  justify-content: space-around;

  &__button {
    @include icon-link(4rem);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    span {
      font-size: .8rem;
      font-weight: 600;
      margin-left: 0;
      margin-top: .3rem;
    }
  }
}

.editor-panes {
  display: flex;
  height: 100vh;
  position: relative;
  width: calc(100vw - #{$nav-width});
  z-index: $zi-editor;
}

.editor-panes__code {
  @include strict-width(calc(50% - #{$half-posts-list-width}));

  border-right: 1px lighten($mono-3, 20) dashed;
  height: 100%;
  position: relative;


  // reset for the first server render
  textarea {
    background: $syntax-bg;
    border: 0;
    border-right: 1px lighten($mono-3, 20) dashed;
    bottom: 0;
    font-family: $monospace;
    font-size: .75rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.ReactCodeMirror {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .CodeMirror {
    height: 100%;
  }
}

.editor-panes__preview {
  @include strict-width(calc(50% - #{$half-posts-list-width}));

  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  transform: translateX(0);
  will-change: transform;
  z-index: $zi-editor-posts-list;

  *:first-child {
    margin-top: 0;
  }
}

.editor-panes__nav {
  flex: 0 0 $posts-list-width;
  background: $syntax-bg;
  border-right: 1px lighten($mono-3, 20) dashed;
  height: 100%;
  transform: translateX(0);
  will-change: transform;
  z-index: $zi-editor-posts-list;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;

    &__title--draft {
      border-bottom: 1px solid $hue-2;

      span {
        padding: 0 .2rem;
        color: $hue-2;
        font-size: .625rem;
      }
    }

    &__actions {
      position: absolute;
      opacity: 0;
      right: 1rem;
      transition: opacity .1s ease;
      z-index: $zi-editor + 1;

      svg {
        height: .9rem;
      }

      &__action {
        margin-left: .8rem;

        &--delete {
          @extend .editor-panes__nav__item__actions__action;
          @include dark-link($hue-5-2, 10);
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    &::after {
      background: linear-gradient(
        to right, rgba($syntax-bg, 0), $syntax-bg 50%
      );
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 40%;
    }

    &:nth-child(even) {
      background: $syntax-bg-alternate;

      &::after {
        background: linear-gradient(
          to right, rgba($syntax-bg-alternate, 0), $syntax-bg-alternate 50%
        );
      }
    }
  }
}

@media (max-width: 90rem) {
  .editor-panes__nav {
    left: -$posts-list-width;
    position: absolute;
    top: 0;
    transform: translateX(0);
  }

  .editor-top-bar__button--show-posts {
    pointer-events: all;
    visibility: visible;
  }

  .editor-panes__code {
    @include strict-width(calc(50%));
  }

  .editor-panes__preview {
    @include strict-width(calc(50%));
  }
}

@media (max-width: $nav-collapse) {
  .editor {
    width: 100vw;
  }

  .editor-top-bar {
    width: 100vw;
  }

  .editor-top-bar__button--show-posts {
    pointer-events: none;
    visibility: hidden;
  }

  .editor-bottom-bar {
    display: flex;
    width: 100vw;
  }

  .editor-panes {
    width: 100vw;
  }

  .editor-panes__code {
    @include strict-width(100%);

    border-right: 0;
  }

  .editor-panes__preview {
    @include strict-width(100%);

    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: $zi-editor;
  }
}
