* {
  box-sizing: border-box;
}

body {
  background: $syntax-bg;
  color: $syntax-fg;
  font-family: $sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::selection {
  background: $selection;
}

p {
  word-break: break-all;
}

a {
  @include dark-link($syntax-accent, 15);
}

svg {
  height: 4.375rem;

  path {
    fill: $syntax-accent;
  }
}

.app-view {
  display: flex;
  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    margin: 1.5rem;
    position: relative;

    span {
      left: 50%;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%);
    }

    .input-label {
      bottom: 1rem;
      left: 50%;
      opacity: .5;
      transform: scale(1) translateY(0) translateX(-50%);
      transition: opacity .3s ease, transform .3s ease;
    }

    .hasvalue {
      opacity: .8;
      transform: translateY(-140%) translateX(-50%);
    }

    .errors {
      color: $hue-5-2;
      font-size: .7rem;
      top: 110%;
    }
  }

  input {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $syntax-accent;
    height: 3rem;
    min-width: 15rem;
    outline: 0;
    text-align: center;

    &::placeholder {
      color: transparent;
    }
  }

  button {
    @include button($syntax-accent);
    margin: 1rem;
  }
}


.dropdown-button {
  position: absolute;
  padding: 0 1rem;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  z-index: $zi-editor + 1;

  .dropdown-toggle {
    font-size: .5rem;
    padding-left: 1rem;

    svg {
      height: 1rem;
    }
  }

  .dropdown-options {
    background: $syntax-bg-alternate;
    border: 1px lighten($mono-3, 20) solid;
    position: absolute;
    right: .5rem;
    top: 110%;
    white-space: nowrap;
    padding: .3rem 0;
    display: flex;
    flex-direction: column;
    transition: opacity .1s ease, transform .1s ease;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-1rem);
    }

    a {
      margin: 0;
      font-size: 1rem;
      line-height: 1rem;
      padding: .5rem 1rem;

      &.danger {
        @include dark-link($hue-5-2, 10);
      }
    }
  }
}
