// RESET
body {
  background: $syntax-bg;
  color: $syntax-fg;
  font-family: $sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::selection { background: $selection; }

a {
  @include dark-link($syntax-accent, 10);
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

h1, h2, h3, h4, h5, h6 { text-transform: uppercase }

p { line-height: 1.5rem; }

li { line-height: 1.5rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.5rem; }

svg {
  height: 4.375rem;

  path {
    fill: $syntax-accent;
    stroke: transparent;
    stroke-width: 4.375rem;
  }
}

article {
  max-width: 37.5rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem 0;

  blockquote {
    border-left: .3rem solid lighten($mono-3, 20);
    margin: 1rem 0;
    padding: .2rem 1rem;
    color: lighten($syntax-fg, 30);
    font-weight: 600;

    p {
      margin: .5rem 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  code {
    font-size: .8rem;
    font-family: $monospace;
    line-height: 1.5rem;
  }

  th, td {
    padding: .5rem 1rem !important;
  }

  th {
    border-bottom: 1px solid rgba($mono-3, .3);
  }

  tr {
    background: $syntax-bg;

    &:nth-child(even) {
      background: $syntax-bg-alternate;
    }
  }

  img {
    max-width: 100%;
  }

  hr {
    border-color: rgba($mono-3, .1);
  }
}

.video-embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;

  &__video {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.app-view {
  display: flex;
  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: $zi-editor - 1;

  > div {
    width: 100%;
    height: 100%;
  }
}

.page-transition {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  &-enter {
    @extend .page-transition;
    opacity: 0;

    &-active {
      @extend .page-transition-enter;
      opacity: 1;
      transition: opacity .3s ease;
      will-change: opacity;
    }
  }

  &-leave {
    @extend .page-transition;
    opacity: 1;

    &-active {
      @extend .page-transition-leave;
      opacity: 0;
      transition: opacity .3s ease;
      will-change: opacity;
    }
  }
}
