.contact {
  @include centered;
  width: 100%;
  box-sizing: border-box;

  &__blurb {
    text-align: center;
    font-size: 1rem;
    max-width: 15rem;
  }

  &__item {
    text-align: center;
    line-height: 2rem;
    vertical-align: baseline;
    margin: 1rem 0;

    svg {
      height: .7rem;
      display: inline-block;
      path {
        fill: $syntax-fg;
      }
    }

    &__text {
      font-weight: 600;
      padding-left: .5rem;
    }

    &__link {
      display: block;
    }
  }
}

@media (max-width: $mobile-s) {
  .contact {
    padding-top: 1rem;
  }
}
