$article-start-width: 40rem;

.home {
  @include centered;

  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.posts-display {
  width: 100%;
}

.post-display {
  width: 100%;
  padding-bottom: 5rem;
  box-sizing: border-box;

  &__title {
    text-transform: uppercase;
    color: $mono-1;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $mono-2;
  }
}

@media (max-width: $tablet) {
  .home {
    margin: 3.5rem auto;
  }
}
