$article-start-width: 40rem;

.home {
  @include centered;

  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  padding: 3rem 1rem;
}

.posts-display {
  width: 100%;
}

.post-display {
  width: 100%;

  &__title {
    text-transform: uppercase;
    color: $mono-1;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $mono-2;
  }
}
