$article-start-width: 40rem;

.home {
  @include centered;

  margin: 0 1rem;
}

.post-tags {
  margin: 1rem 0 2rem;
  display: flex;

  .tag {
    @include tag($hue-3);
    margin-right: .7rem;
  }
}
