.message-notifier {
  align-items: center;
  background: rgba($syntax-fg, .7);
  border-radius: .2rem;
  bottom: 2rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
  left: 2rem;
  padding: .5rem 1rem;
  position: fixed;
  z-index: $zi-message-nofifier;
  will-change: transform, opacity;
  transition: transform .1s ease, opacity .1s ease;
  opacity: 0;
  pointer-events: none;
  transform: translateY(.5rem);

  span {
    color: $syntax-bg;
    line-height: 1.5rem;
    text-align: center;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &--shown {
    @extend .message-notifier;
    transform: translateY(0);
    opacity: 1;
  }

  @media (max-width: $tablet) {
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%) translateY(.5rem);

    &--shown {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }
}
