@mixin centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

@mixin strict-width ($width) {
  max-width: $width;
  width: $width;
}

@mixin clearfix {
  &::before {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin button ($color) {
  align-items: center;
  display: flex;
  appearance: none;
  background: transparent;
  border: 1px solid;
  border-radius: 2.25rem;
  color: $color;
  font-size: .8rem;
  font-weight: 600;
  height: 2.25rem;
  outline: 0;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: opacity .3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: .7;
  }
}

@mixin small-button ($color) {
  appearance: none;
  background: transparent;
  border: 1px solid;
  border-radius: 2rem;
  color: $color;
  font-size: .675rem;
  font-weight: 600;
  height: 2rem;
  line-height: 2rem;
  outline: 0;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: opacity .3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: .7;
  }
}

@mixin icon-link ($height) {
  align-items: center;
  display: flex;
  height: $height;
  padding: 0 1rem;

  svg {
    height: 1rem;
  }

  span {
    margin-left: .5rem;
  }
}

@mixin dark-link ($color, $amount) {
  color: $color;
  text-decoration: none;
  transition: color .3s ease, fill .3s ease;

  path {
    fill: $color;
    transition: fill .3s ease;
  }

  &:focus,
  &:hover {
    color: darken($color, $amount);

    path {
      fill: darken($color, $amount);
    }
  }
}

@mixin tag($color) {
  background: $color;
  display: flex;
  align-items: center;
  border-radius: .25rem;
  height: 1.6rem;
  padding: 0 .5rem;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $syntax-bg;
  text-decoration: none;
}
