@mixin centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

@mixin strict-width ($width) {
  max-width: $width;
  width: $width;
}

@mixin clearfix {
  &::before {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin button ($color) {
  align-items: center;
  display: flex;
  appearance: none;
  background: transparent;
  border: 1px solid;
  border-radius: 2.25rem;
  color: $color;
  font-size: .8rem;
  font-weight: 600;
  height: 2.25rem;
  outline: 0;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: opacity .3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: .7;
  }
}

@mixin small-button ($color) {
  appearance: none;
  background: transparent;
  border: 1px solid;
  border-radius: 2rem;
  color: $color;
  font-size: .675rem;
  font-weight: 600;
  height: 2rem;
  line-height: 2rem;
  outline: 0;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: opacity .3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: .7;
  }
}

@mixin icon-link ($height) {
  align-items: center;
  display: flex;
  height: $height;
  padding: 0 1rem;

  svg {
    height: 1rem;
  }

  span {
    margin-left: .5rem;
  }
}

@mixin dark-link ($color, $amount) {
  color: $color;
  text-decoration: none;
  transition: color .3s ease, fill .3s ease;

  path {
    fill: $color;
    transition: fill .3s ease;
  }

  &:focus,
  &:hover {
    color: darken($color, $amount);

    path {
      fill: darken($color, $amount);
    }
  }
}

@mixin light-link ($color, $amount) {
  color: $color;
  text-decoration: none;
  transition: color .3s ease, fill .3s ease;

  path {
    fill: $color;
    transition: fill .3s ease;
  }

  &:focus,
  &:hover {
    color: lighten($color, $amount);

    path {
      fill: lighten($color, $amount);
    }
  }
}

@mixin tag($color) {
  background: $color;
  display: flex;
  align-items: center;
  height: 1.3rem;
  line-height: .5rem;
  padding: 0 .5rem;
  font-size: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $syntax-bg;
  text-decoration: none;
}

@mixin default-form {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    margin: 1.5rem;
    position: relative;

    &__placeholder {
      left: 50%;
      pointer-events: none;
      position: absolute;
      bottom: 1rem;
      opacity: .5;
      transform: scale(1) translateY(0) translateX(-50%);
      transition: opacity .3s ease, transform .3s ease;

      &--hasvalue {
        opacity: .8;
        transform: translateY(-140%) translateX(-50%);
      }
    }

    &__input {
      appearance: none;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $syntax-accent;
      height: 3rem;
      min-width: 15rem;
      outline: 0;
      text-align: center;
      transition: border-color .3s ease;

      &--invalid {
        border-color: $hue-5-2;
      }

      &::placeholder {
        color: transparent;
      }
    }

    &__errors {
      position: absolute;
      color: $hue-5-2;
      font-size: .7rem;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__submit {
    @include button($syntax-accent);
    margin: 1rem;
  }
}
