$nav-width: 11rem;

.nav-toggle {
  @include icon-link(3.5rem);

  height: 3.5rem;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  z-index: $zi-nav - 1;
}

.nav {
  background: darken($syntax-bg, 3);
  border-right: 1px lighten($mono-3, 20) dashed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0;
  width: $nav-width;
  will-change: transform;
  z-index: $zi-nav;
  box-sizing: border-box;

  &--isShown {
    @extend .nav;
  }

  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($mono-1, .8);
    transform: translateX($nav-width);
    z-index: $zi-nav - 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity .1s ease-out;
    will-change: opacity;

    &--isShown {
      @extend .nav__shadow;
    }
  }
}

.nav__main {
  margin: 0;
  padding: 0;
  width: 100%;

  &__item {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, color .3s ease;

    &--active,
    &:hover,
    &:focus {
      @extend .nav__main__item;
      color: $syntax-accent;
      background: darken($syntax-bg, 7);
    }

    &--logout {
      @extend .nav__main__item;
      @include dark-link($syntax-accent, 10);
      border-top: 1px $mono-3 dashed;
      margin: 1.5rem 2rem 0;

      &:hover {
        background: transparent;
      }
    }
  }
}

.nav__logo {
  padding: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: $nav-width;

  color: lighten($syntax-fg, 20%);

  &__icon {
    height: 3rem;
  }

  &__title {
    margin: 1rem 0 0;
    text-transform: uppercase;
    color: $syntax-accent;
  }

  &__desc {
    margin-top: .5rem;
    padding: 0 1rem;
    line-height: 1.3rem;
    font-size: .7rem;
    font-weight: 600;
  }
}

.nav__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: $nav-width;

  &__social {
    width: 100%;
    display: flex;
    height: 1rem;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem;

    &__link {
      height: 1rem;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 1.2rem;
      }
    }
  }

  &__copyleft {
    color: $mono-3;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-weight: 600;
    font-size: .8rem;
    display: flex;
    text-transform: uppercase;

    &__icon {
      font-weight: 800;
    }
  }
}

.nav-mobile {
  position: absolute;
  width: 100vw;
  height: 3.5rem;
  background: $syntax-bg-alternate;
  border-bottom: 1px lighten($mono-3, 20) solid;
  display: none;
  z-index: $zi-editor - 1;
  box-sizing: border-box;

  &__logo {
    @include icon-link(3.5rem);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $hue-2;

    svg {
      path {
        stroke: $hue-2;
        stroke-width: 1px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .nav-toggle {
    pointer-events: all;
    visibility: visible;
  }

  .nav-mobile {
    display: block;
  }

  .nav {
    transform: translateX(-$nav-width);
    position: absolute;
    top: 0;
    transition: transform .1s ease-out;
    will-change: transform;

    &--isShown {
      transform: translateX(0);
    }

    &__shadow--isShown {
      pointer-events: all;
      opacity: 1;
    }
  }
}
