nav {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12.5rem;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      list-style: none;
      margin: 1rem;
    }
  }
}
