.hljs {
  color: $syntax-fg;
  background: $syntax-bg;
  display: block;
  overflow-x: auto;
  font-size: .8rem;
  padding: 1rem;
  margin: 2rem 0 !important;
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: $hue-6;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: $hue-3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: $hue-5-2;
}

.hljs-comment,
.hljs-quote {
  color: $mono-3;
}

.hljs-meta {
  color: #bbb529;
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: $hue-4;
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: $hue-2;
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: $hue-3;
}

.hljs-params,
.hljs-subst {
  color: $hue-5;
}

.hljs-regexp {
  color: $hue-1;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
