:global {
  //colors
  $black: #000;
  $white: #fff;
  $color_alto_approx: #ddd;
  $color_black_haze_approx: #f7f7f7;
  $color_mountain_mist_approx: #999;
  $silver: #c0c0c0;
  $color_pastel_green_approx: #7e7;
  $color_celeste_approx: #ccc;
  $blue: #00f;
  $color_japanese_laurel_approx: #090;
  $color_valencia_approx: #d44;
  $color_forest_green_approx: #292;
  $color_purple_approx: #708;
  $color_blue_gem_approx: #219;
  $color_jewel_approx: #164;
  $color_endeavour_approx: #05a;
  $color_salem_approx: #085;
  $color_rich_gold_approx: #a50;
  $color_tamarillo_approx: #a11;
  $color_international_orange_approx: #f50;
  $color_fuscous_gray_approx: #555;
  $color_gurkha_approx: #997;
  $color_dark_blue_approx: #00c;
  $red: #f00;
  $green: #0f0;
  $color_torch_red_approx: #f22;
  $color_pizazz_30_approx: rgba(255, 150, 0, .3);
  $color_solitude_approx: #e8f2ff;
  $color_milan_approx: #ffa;
  $yellow_40: rgba(255, 255, 0, .4);

  %extend_1 {
    position: absolute;
    z-index: 6;

    display: none;
  }

  .CodeMirror {
    font-family: $monospace;
    font-size: .8rem;

    position: relative;

    overflow: hidden;

    height: 300px;

    color: $black;
    background: $white;

    pre {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;

      position: relative;
      z-index: 2;

      overflow: visible;

      margin: 0;
      padding: 0 4px;

      white-space: pre;
      word-wrap: normal;

      color: inherit;
      border-width: 0;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0;
      background: transparent;

      font-variant-ligatures: none;
    }

    span {
      *vertical-align: text-bottom;
    }

    div.CodeMirror-secondarycursor {
      border-left: 1px solid $silver;
    }
  }

  .CodeMirror-lines {
    min-height: 1px;
    padding: 4px 0;

    cursor: text;
  }

  .CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;

    background-color: $white;

    @extend %extend_1;
  }

  .CodeMirror-gutter-filler {
    bottom: 0;
    left: 0;

    background-color: $white;

    @extend %extend_1;
  }

  .CodeMirror-gutters {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    //Instead of the line below you could use @include box-sizing($bs)

    box-sizing: content-box;
    min-height: 100%;

    white-space: nowrap;

    border-right: 1px solid $color_alto_approx;
    background-color: $color_black_haze_approx;
  }



  .CodeMirror-linenumber {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    min-width: 20px;
    padding: 0 3px 0 5px;

    text-align: right;
    white-space: nowrap;

    color: $color_mountain_mist_approx;
  }

  .CodeMirror-guttermarker {
    color: $black;
  }

  .CodeMirror-guttermarker-subtle {
    color: $color_mountain_mist_approx;
  }

  .CodeMirror-cursor {
    position: absolute;

    width: 0;

    pointer-events: none;

    border-right: none;
    border-left: 1px solid $black;
  }

  .cm-fat-cursor {
    .CodeMirror-cursor {
      width: auto;

      border: 0 !important;
      background: $color_pastel_green_approx;
    }

    div.CodeMirror-cursors {
      z-index: 1;
    }
  }

  .cm-animate-fat-cursor {
    width: auto;

    animation: blink 1.06s steps(1) infinite;

    border: 0;
    background-color: $color_pastel_green_approx;
  }
  @keyframes blink {
    0% {
    }

    50% {
      background-color: transparent;
    }

    100% {
    }
  }

  .cm-tab {
    display: inline-block;

    text-decoration: inherit;
  }

  .CodeMirror-rulers {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -20px;
    left: 0;

    overflow: hidden;
  }

  .CodeMirror-ruler {
    position: absolute;
    top: 0;
    bottom: 0;

    border-left: 1px solid $color_celeste_approx;
  }

  .cm-s-default {
    .cm-header {
      color: $blue;
    }

    .cm-quote {
      color: $color_japanese_laurel_approx;
    }

    .cm-keyword {
      color: $color_purple_approx;
    }

    .cm-atom {
      color: $color_blue_gem_approx;
    }

    .cm-number {
      color: $color_jewel_approx;
    }

    .cm-def {
      color: $blue;
    }









    .cm-variable-2 {
      color: $color_endeavour_approx;
    }

    .cm-variable-3 {
      color: $color_salem_approx;
    }

    .cm-comment {
      color: $color_rich_gold_approx;
    }

    .cm-string {
      color: $color_tamarillo_approx;
    }

    .cm-string-2 {
      color: $color_international_orange_approx;
    }

    .cm-meta {
      color: $color_fuscous_gray_approx;
    }

    .cm-qualifier {
      color: $color_fuscous_gray_approx;
    }

    .cm-builtin {
      color: $color_blue_gem_approx;
    }

    .cm-bracket {
      color: $color_gurkha_approx;
    }

    .cm-tag {
      color: $color_japanese_laurel_approx;
    }

    .cm-attribute {
      color: $color_dark_blue_approx;
    }

    .cm-hr {
      color: $color_mountain_mist_approx;
    }

    .cm-link {
      color: $color_dark_blue_approx;
    }

    .cm-error {
      color: $red;
    }
  }

  .cm-negative {
    color: $color_valencia_approx;
  }

  .cm-positive {
    color: $color_forest_green_approx;
  }

  .cm-header {
    font-weight: bold;
  }

  .cm-strong {
    font-weight: bold;
  }

  .cm-em {
    font-style: italic;
  }

  .cm-link {
    text-decoration: underline;
  }

  .cm-strikethrough {
    text-decoration: line-through;
  }

  .cm-invalidchar {
    color: $red;
  }

  .CodeMirror-composing {
    border-bottom: 2px solid;
  }

  div {
    &.CodeMirror-cursors {
      position: relative;
      z-index: 3;

      visibility: hidden;
    }

    &.CodeMirror-dragcursors {
      visibility: visible;
    }

    &.CodeMirror span {
      &.CodeMirror-matchingbracket {
        color: $green;
      }

      &.CodeMirror-nonmatchingbracket {
        color: $color_torch_red_approx;
      }
    }
  }

  .CodeMirror-matchingtag {
    background: $color_pizazz_30_approx;
  }

  .CodeMirror-activeline-background {
    background: $color_solitude_approx;
  }

  .CodeMirror-scroll {
    position: relative;

    overflow: scroll !important;
    //Instead of the line below you could use @include box-sizing($bs)

    transform: translateZ(0);

    box-sizing: content-box;
    height: 100%;
    margin-right: -30px;
    margin-bottom: -30px;
    padding-bottom: 30px;

    outline: none;
  }

  .CodeMirror-sizer {
    position: relative;
    //Instead of the line below you could use @include box-sizing($bs)

    box-sizing: content-box;

    border-right: 30px solid transparent;
  }

  .CodeMirror-vscrollbar {
    top: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    transform: translateZ(0);

    @extend %extend_1;
  }

  .CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;

    overflow-x: scroll;
    overflow-y: hidden;

    transform: translateZ(0);

    @extend %extend_1;
  }

  .CodeMirror-gutter {
    display: inline-block;
    //Instead of the line below you could use @include box-sizing($bs)

    box-sizing: content-box;
    height: 100%;
    margin-bottom: -30px;

    vertical-align: top;
    white-space: normal;

    *zoom: 1;
    *display: inline;
  }

  .CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    //Instead of the line below you could use @include user-select($select)

    user-select: none;

    border: none !important;
    background: none !important;
  }

  .CodeMirror-gutter-background {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
  }

  .CodeMirror-gutter-elt {
    position: absolute;
    z-index: 4;

    cursor: default;
  }

  .CodeMirror-linebackground {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .CodeMirror-linewidget {
    position: relative;
    z-index: 2;

    overflow: auto;
  }



  .CodeMirror-code {
    outline: none;
  }

  .CodeMirror-measure {
    position: absolute;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 0;

    pre {
      position: static;
    }
  }

  .CodeMirror-focused {
    .CodeMirror-selected {
      background: #ededed;
    }

    div.CodeMirror-cursors {
      visibility: visible;
    }
  }

  .CodeMirror-selected {
    background: $color_alto_approx;
  }

  .CodeMirror-crosshair {
    cursor: crosshair;
  }

  .CodeMirror-line::selection {
    background: #ededed;
  }

  .CodeMirror-line {
    > span::selection {
      background: #ededed;
    }

    > span {
      > span::selection {
        background: #ededed;
      }

      > span::-moz-selection {
        background: #ededed;
      }
    }

    > span::-moz-selection {
      background: #ededed;
    }
  }

  .CodeMirror-line::-moz-selection {
    background: #ededed;
  }

  .cm-searching {
    background: $yellow_40;
  }

  .cm-force-border {
    padding-right: .1px;
  }
  @media print {
    .CodeMirror div.CodeMirror-cursors {
      visibility: hidden;
    }
  }



  .CodeMirror-wrap pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    //Instead of the line below you could use @include word-break($value)
    word-break: normal;
  }

  .cm-tab-wrap-hack:after {
    content: '';
  }

  span.CodeMirror-selectedtext {
    background: none;
  }

  .cm-s-one-light {
    color: $syntax-fg;
    background: #fafafa;
  }
  .cm-s-one-light .CodeMirror-activeline-background {
    background: $syntax-bg;
  }
  .cm-s-one-light .CodeMirror-selected {
    background: $selection;
  }
  .cm-s-one-light .cm-comment {
    font-style: italic;

    color: $hue-6;
  }
  .cm-s-one-light .cm-header {
    font-style: italic;

    color: $hue-5-2;
  }
  .cm-s-one-light .cm-hr {
    font-weight: 700;

    color: $hue-5;
  }
  .cm-s-one-light {
    .cm-keyword,

    .cm-url.cm-url {
      color: $hue-3;
    }
  }
  .cm-s-one-light .cm-number, {
    color: $hue-6;
  }
  .cm-s-one-light .cm-def {
    color: $mono-2;
  }
  .cm-s-one-light .cm-string, {
    color: $hue-4;
  }
  .cm-s-one-light {
    .cm-quote-1,

    .cm-variable-2 {
      font-weight: 600;

      color: $hue-4;
    }
  }
  .cm-s-one-light {
    .cm-property,

    .cm-strong,

    .cm-meta,

    .cm-em {
      color: $hue-1;
    }
  }
  .cm-s-one-light {
    .cm-variable,

    .cm-link,

    .cm-fat-cursor,

    .cm-tag {
      color: $syntax-accent;
    }
  }
}
