@import '../../theme/vars';
@import '../../theme/mixins';

.shadow {
  position: absolute;
  z-index: $zi-nav + 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity .3s ease;
  pointer-events: none;

  opacity: 0;
  background: rgba($mono-1, .8);

  will-change: opacity;
}

.shadowIsShown {
  pointer-events: all;

  opacity: 1;

  composes: shadow;
}

.root {
  position: absolute;
  z-index: $zi-editor + 1;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  padding: 2.5rem;

  transition: transform .15s ease-out, opacity .15s ease-out;
  transform: translateX(-50%) translateY(-45%);

  opacity: 0;
  border-radius: .15rem;
  background: $syntax-bg-alternate;
  box-shadow: 0 0 4px 2px $default-shadow-color;

  will-change: transform, opacity;
}

.rootIsShown {
  transform: translateX(-50%) translateY(-50%);

  opacity: 1;

  composes: root;
}

.field {
  position: relative;

  display: block;

  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.placeholder {
  opacity: .8;
}

.input {
  width: 100%;
  min-width: 15rem;
  height: 2.5rem;

  transition: border-color .3s ease;

  color: $syntax-fg;
  border: 0;
  border-bottom: 1px solid $syntax-accent;
  outline: 0;
  background: transparent;

  appearance: none;

  &::placeholder {
    color: transparent;
  }
}
