@import '../../theme/vars';
@import '../../theme/mixins';

.wrapper {
  position: absolute;
  z-index: $zi-editor + 1;
  top: 0;
  bottom: 0;

  width: 100%;
}

.root {
  position: absolute;
  z-index: $zi-editor + 1;
  top: 0;
  left: 50%;

  box-sizing: border-box;
  width: 80%;
  max-width: 35rem;
  padding: 2.5rem;

  transition: transform .15s ease-out;
  transform: translateX(-50%) translateY(-105%);

  opacity: 0;
  background: $syntax-bg-alternate;
  box-shadow: 0 0 5px 1px $default-shadow-color;

  will-change: transform, opacity;

  @media (max-width: $tablet) {
    width: 100%;
    max-width: none;
  }
}

.rootIsShown {
  transition: transform .15s ease-out;
  transform: translateX(-50%) translateY(0);

  opacity: 1;

  composes: root;
}

.field {
  position: relative;

  display: block;

  margin: 2rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.placeholder {
  opacity: .8;
}

.input {
  width: 100%;
  min-width: 15rem;
  height: 2.5rem;

  transition: border-color .3s ease;

  color: $syntax-fg;
  border: 0;
  border-bottom: 1px solid $syntax-accent;
  outline: 0;
  background: transparent;

  appearance: none;

  &::placeholder {
    color: transparent;
  }
}

.dropzone {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 4rem;

  border: 1px $syntax-accent dashed;

  align-items: center;
  justify-content: center;

  p {
    opacity: .8;
  }
}
