@import '../../theme/vars';
@import '../../theme/mixins';

.root {
  position: absolute;
  z-index: $zi-editor + 2;
  top: 0;
  left: 0;
  pointer-events: none;

  width: 100%;
  height: 100vh;
}

.wrapper {
  position: absolute;
  z-index: $zi-editor + 3;
  top: 0;
  left: 0;

  width: 100%;

  box-sizing: border-box;
  padding: 2rem 2rem 3rem;

  transition: transform .2s $default-bezier, opacity .2s $default-bezier;
  transform: translateY(-102%);

  background: $syntax-bg-alternate;
  box-shadow: 0 5px 5px $default-shadow-color;

  will-change: transform;
}

.wrapperIsShown {
  transform: translateY(0);

  composes: wrapper;
}

.meta {
  max-width: 600px;
  margin: 0 auto;

  h3 {
    margin-top: 0;
  }
}

.shadow {
  position: absolute;
  z-index: $zi-editor + 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity .3s ease;
  pointer-events: none;

  opacity: 0;
  background: rgba($mono-1, .8);

  will-change: opacity;
}

.shadowIsShown {
  pointer-events: all;

  opacity: 1;

  composes: shadow;
}

.field {
  position: relative;

  display: block;

  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.placeholder {
  opacity: .8;
}

.input {
  width: 100%;
  min-width: 15rem;
  height: 2.5rem;

  transition: border-color .3s ease;

  color: $syntax-fg;
  border: 0;
  border-bottom: 1px solid $syntax-accent;
  outline: 0;
  background: transparent;

  appearance: none;

  &::placeholder {
    color: transparent;
  }
}
