@import '../../theme/vars';
@import '../../theme/mixins';

$posts-list-width: 15rem;

%adminBar {
  display: flex;

  width: calc(100vw - #{$nav-width});

  background: $syntax-bg;

  align-items: center;
}

.root {
  position: relative;
  z-index: $zi-editor;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: calc(100vw - #{$nav-width});
  height: 100vh;

  background: $syntax-bg;

  @media (max-width: $tablet) {
    width: 100vw;
  }
}

.topBar {
  position: relative;

  flex: 0 0 $mobile-nav-height;

  width: 100%;

  @extend %adminBar;
  justify-content: center;
}

.topBarBtn {
  position: absolute;
  top: 0;

  @include icon-link($mobile-nav-height);
}

.menuToggleBtn {
  left: 0;
  display: none;

  @media (max-width: $tablet) {
    display: flex;
  }

  composes: topBarBtn;
}

.topBarBtnPosts {
  composes: topBarBtn;

  @media (max-width: 70rem) {
    visibility: hidden;

    pointer-events: none;
  }
}

.info {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.infoTitle {
  position: relative;

  display: flex;

  max-width: 35vw;
  height: 1.6rem;

  text-transform: uppercase;

  align-items: center;
  justify-content: center;

  b {
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 33.8rem;
    height: 1.3rem;
    margin-right: .5rem;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  svg {
    flex: 0 0 .7rem;

    height: .7rem;
  }
}

.infoStamps {
  font-size: .7rem;
  font-weight: 600;
  line-height: .7rem;

  text-align: center;
  text-transform: lowercase;

  color: $mono-2;
}

.bottomBar {
  z-index: $zi-editor + 1;

  display: flex;
  flex: 0 0 4rem;

  width: 100%;

  @extend %adminBar;
  justify-content: space-around;
}

.bottomBarBtn {
  flex-direction: column;

  width: 33%;

  @include icon-link(4rem);
  align-items: center;
  justify-content: center;

  span {
    font-size: .8rem;
    font-weight: 600;

    margin-top: .3rem;
    margin-left: 0;
  }
}

.panes {
  contain: strict;
  position: relative;

  width: 100%;
  height: calc(100% - #{$mobile-nav-height * 2});
}

.panesView {
  position: absolute;
  display: flex;

  width: 200%;
  height: 100%;

  left: 0;

  will-change: transform;
}

.panesViewOnPreview {
  left: -100%;

  composes: panesView;
}

.pane {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.preview {
  overflow-y: auto;

  transform: translateZ(0);

  height: 100%;

  article {
    padding: 2rem 1rem 4rem;

    h1:first-child {
      margin-top: 0;
    }
  }
}
