@import '../../theme/vars';

.root {
  font-family: $monospace;
  line-height: 1.6;

  overflow-y: hidden;

  height: 100%;

  transform: translateZ(0);
}

.content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem calc((100% - #{$text-container})/2 + 1rem) 4rem;

  resize: none;

  border: none;
  background: transparent;
}

.content:focus {
  outline: none;
}

@media (max-width: $text-container + $nav-width) {
  .content {
    padding: 2rem 1rem 4rem;
  }
}

@media (max-width: $tablet) {
  .content {
    padding: 2rem calc((100% - #{$text-container})/2 + 1rem)  4rem;
  }
}

@media (max-width: $text-container) {
  .content {
    padding: 2rem 1rem 4rem;
  }
}
